@media only screen and (min-width: 800px) {
    .header_nav_hamburger,
    .header_nav_mobile {
        display: none;
    }
    .header_nav_desktop {
        display: block;

        a {
            text-decoration: none;
            padding-right: 3rem;
            color: $dark-grayish-blue;
            font-size: 1.75rem;
        }
        a:hover {
            color: $soft-red;
            transition: 0.2s ease;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        padding-bottom: 0;
    }
}
